@mixin break-point($resolution) {
  @media (max-width: $resolution) {
    @content;
  }
}
@mixin break-point-h($resolution) {
  @media (max-height: $resolution) {
    @content;
  }
}
@mixin vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index:3;
  &:hover
  {
    border: 1px solid #eee;
    padding:2px;
    white-space: normal;
    word-break: break-word;
    z-index:5;
    background-color:#eee;
    height:fit-content;
  }
}
@mixin toast-style()
{
  
  visibility: hidden; 
  min-width: 250px;
  margin-left: -125px;
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%; 
  bottom: 30px; 
  &.show
  {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
}