@import "colors.scss";
@import "mixins.scss";
body
{
  margin:0px;
  div.st-header-holder
  {
    width:100%;
    height:100px;
    background-color: $gray;
    div.st-header
    {
      width:100%;
      max-width: 1100px;
      margin:0px auto;
      @include break-point(1130px)
      {
        margin: 0px 15px;
        width: calc(100% - 30px);
      }
      div.st-logo-holder
      {
        position:relative;
        img 
        {
        height:80px; 
        width:80px;
        margin:10px;
        border-radius: 8px;
        float:left;
        }
        #st-drop-menu
        {
          position:absolute;
          top:90px;
          width:110px;
          display:none;
          input 
          {
            height:25px;
            width:100%;
          }
        }
      }
      div.st-search
      {
        height:100px;
        float:left;
        max-width: 750px;
        width:calc(100% - 350px);
        height:100px;
        input 
        {
          height:30px;
          margin:25px;
          font-size:20px;
          width:calc(100% - 50px);  
          background-color:white;
          padding:10px;
        }
      }
      div.st-right-header
      {
        width: fit-content;
        float:right;
        width:250px;
        position:relative;
        user-select: none;
        #st-login-form
        {
          display:none;
          position:absolute;
          top:65px;
          background-color: $gray;
          width:200px;
          padding:20px;
          h1 
          {
            margin: 5px 0;
          }
            label
            {
              width:100%;
            }
            input
            {
              width:100%;
              margin: 5px 0;
            }
            #st-incorrect
            {
              color:red;
              margin: 0 0 5px 5px;
            }
            button
            {
              color:white;
              padding:5px;
              width:48%;
              opacity:0.8;
              &:hover
              {
                opacity: 1;
              }
            }
            button.st-login
            {
              background-color:$green;
            }
            button.st-cancel
            {
              background-color:red;
            }
            #st-loged-in
            {
              width:50px;
            }
        }
        span.st-account
        {
          font-size:20px;
          font-weight: 700;
          line-height:100px;
          height:100px;
          float:left;
          width:200px;
          text-align: center;
          border-radius:10px;
          &:hover
          {
            background-color:$border-gray;
          }
        }
        i
        {
          font-size:20px;
          float:right;
          width:50px;
          text-align:center;
          line-height: 100px;
          
          &:hover
          {
            background-color:$border-gray;
          }
        }
      }
    }
  }
  #st-select
  {
    max-width:1100px;
    width:100%;
    margin:5px auto;
    @include break-point(1130px)
    {
      margin: 5px 15px;
      width: calc(100% - 30px);
    }
    #st-categories
    {
      width:100%;
      padding:7px;
    }
  }
  #st-content
  {
    max-width:1100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;
    margin:10px auto;
    
    @include break-point(1130px)
    {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px 15px;
    }
    @include break-point(800px)
    {
      grid-template-columns: 1fr 1fr;
    }
    @include break-point(500px)
    {
      grid-template-columns: 1fr;
    }
    #st-categories
    {
      grid-column: 1/ span 4;
      height:35px;
    }
    h1 
    {
      grid-column: 1 / span 4;
    }
    div.st-total 
    {
      grid-column: span 2;
      font-weight: 700;
      font-size: 30px;
      text-align: center;
    }
    div.st-back 
    {
      grid-column: 1/span 2;
      grid-column-start:1;
      font-weight: 700;
      font-size: 30px;
      background-color:$gray;
      text-align: center;
    }
    div.st-product
    {
      width:calc(100% - 20px);
      padding:15px 8px;
      border: 2px solid $border-gray;
      border-radius:5px;
      font-weight: 700;
      user-select: none;
      div.st-details
      {
        display:block;
        font-weight: 400;
        input 
        {
          width: calc(100% - 50px);
        }
        button 
        {
          width:45px;
        }
      }
      &:hover
      {
        background-color:$gray;       
      }
    }
    .st-new-product
    {
      input
      {
        width:173px;
        padding:5px 0px;
      }
      #st-categories
      {
        width:177px;
        padding:5px;
      }
      input.st-add 
      {
        width:177px;
      }
    }
  }
}